@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Noto+Sans+Kawi:wght@500&family=Roboto:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
html{
    height: 100%;
}
.page-wrapper{
    padding: 0 180px;
    
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
}
.nav__logo{

}
.nav-links{
    display: flex;
    column-gap: 24px;
   
}
.nav-links__link{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
     /* Прибираємо нижнє підкреслювання */
     text-decoration: none;
}
.languages{
    display: flex;
    column-gap: 5px;
    align-items: center;
    width: 1440px;
height: 132px;
flex-shrink: 0;
}
.languages__ua{

}
.languages__split{
    width: 1px;
    height: 14px;
    border-radius: 6px;
    background:#2C2C2C;
}
.languages__en{

}
.number{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px;
    border: 1px solid #2C2C2C;
    padding: 4px 8px 4px 44px;
    row-gap: 4px;
}
.second{
    padding: 12px 8px 12px 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px;
    border: 1px solid #2C2C2C;
    
}
.number__info{

}
.number__tel{
text-decoration: none;
color:  #2C2C2C;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.active-link{
    color: #251ADD;
}
.active-language{
    color: #251ADD;
}
.main_info{
display: flex;
justify-content: center;
width: 1440px;
height: 400px;
background: #FFF;
}
.main_text{
    display: flex;
    width: 528px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-right: 180px;
}
.main_title{
    color: #039CFD;
    font-family: Montserrat Alternates;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 480px;
}
.main_fond{
    color:  #039cfd;
    font-family: Montserrat Alternates;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 480px;
}
.main_descrptn{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    width: 480px;
}
.main_img{
margin-right: 80px;
}
.main_image{
    width: 433px;
height: 398px;
flex-shrink: 0;
}
.main_partner{
    width: 1082px;
height: 224px;
flex-shrink: 0;
}
.main_partner--text{
    display: inline-flex;
justify-content: space-between;
align-items: center;
}
.main_partner--titl{
    width: 121.256px;
    color:  #2C2C2C;
font-family: Montserrat Alternates;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.main_partner--text--image{
    width: 31.855px;
height: 8px;
margin-left: 930px;
}
.main_partner--img{
    display: flex;
width: 1080px;
height: 120px;
justify-content: center;
align-items: flex-start;
gap: 24px;
flex-shrink: 0;
margin-bottom: 24px;
}
.main_partner--image{
    width: 160px;
height: 120px;
flex-shrink: 0;
border: 1px solid  #514F4F;
left: 31.022px;
bottom: 23px;
}
.main_partner--buttons{
    display: inline-flex;
align-items: flex-start;
gap: 38px;
}
.main_partner--button{
    display: flex;
padding-right: 0px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 60px;
border: 1px solid var(--new-secondary-grey-color-1, #2C2C2C);
height: 30px;
width: 200px;
}
.main_partner-allpartners{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    text-decoration: none; 
} 
.main_helps{
    width: 1080px;
    height: 1052px;
    flex-shrink: 0; 
}
.main_help{
    width: 1080px;
height: 116px;
}
.main_help--title{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 16px;
}
.main_help--span{
    color:  #000;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 180% */
}
.main_help--contaners{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_help--contaner{
    display: flex;
    width: 342px;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex-shrink: 0;
}

.main_help--contaner-img{
    display: flex;
    width: 344px;
    padding: 24px 0px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}
.main_help--contaner-text{
    
}
.main_help--contaner-title{
    width: 344px;
    height: 44px;
    color:#000;
font-family: Montserrat Alternates;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.main_help--contaner-descrtn{
    width: 344px;
    height: 76px;
    color:#000;
font-family: Montserrat Alternates;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 19.2px */
padding-top: 24px;
}
.main_help--contaner-buttons{
    display: flex;
    align-items: flex-start;
    gap: 38px;
}
.main_help--contaner-button{
    display: flex;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 60px;
border: 1px solid  #2C2C2C;
margin-top: 24px;
height: 40px;
width: 156px;
}
.main_help--contaner-button-title{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.main_project{
    width: 1080px;
    height: 683px;
    flex-shrink: 0;
}
.main_project--text{
   
}
.main_project--text-title{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 16px;
}
.main_project--text-span{
    color:  #000;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 180% */
    padding-bottom:  16px;
}
.main_project--containers{
    width: 1080px;
    height: 535px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_project--container{
    display: flex;
    width: 344px;
    padding: 24px 0px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}
.main_project--container-image{
    width: 344px;
    height: 172px;
}
.main_project--container-img{
    width: 344px;
    height: 172px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.main_project--container-text{
    
}
.main_project--container-title{
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.main_project--container-descrtn{
    color: var(--new-black, #000);
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    padding-top: 24px;
}
.main_project--container-zbirs{
    display: flex;
    width: 344px;
    height: 59px;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.main_project--container-zbir{

}
.main_project--container-buttons{
    display: flex;
    align-items: flex-start;
    gap: 38px;
}
.main_project--container-button{
    display: flex;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 60px;
    border: 1px solid #2C2C2C;
    height: 40px;
    width: 156px;
}
.main_project--container-buttontitle{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.main_news{
    width: 1080px;
    height: 700px;
    flex-shrink: 0;
}
.main_news--text{
    width: 1080px;
    height: 116px;
}
.main_news--text-title{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.main_news--text-span{
    color:  #000;
font-family: Montserrat Alternates;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 180% */
}
.main_news--containers{
 margin-top: 32px;
 width: 900px;
height: 280px;
flex-shrink: 0;
display: flex;
justify-content: space-between;
column-gap: 24px;
align-items: center;
}
.main_news--container{
    width: 344px;
    height: 268px;
    padding: 24px;
    border: 1px solid  #2C2C2C;  
}
.main_news--contaner-text{

}
.main_news--contaner-title{
    width: 296px;
    color:  #000;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
}
.main_news--contaner-descrpt{
    width: 296px;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */    
}
.main_news--contaner-when{
    display: flex;
    width: 296px;
    justify-content: space-between;
    align-items: center;
}
.main_news--contaner-whentitle{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    opacity: 0.5;
    padding-top: 40px;
}
.main_questions{
    width: 1080px;
    height: 417px;
    flex-shrink: 0;
}
.main_questions--text{
    
}
.main_questions--text-title{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.main_questions--text-span{
    color:  #000;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 180% */
}
.main_questions--containers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
.main_questions--container1{
    border-radius: 6px;
    background: #E9EDEF;
    width: 528px;
}
.main_questions--container2{
    border-radius: 6px;
    background: #E9EDEF;
    width: 528px;
    margin-top: 16px;
}
.main_questions--container3{
    border-radius: 6px;
    background: #E9EDEF;
    width: 528px;
  
}
.main_questions--container-text{
   
}
.main_questions--container-text_titles{
    width: 403px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.main_questions--container-text_title{
    color: #4B5354;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.main_questions--container-text_titlesimg{

}
.main_questions--container-text_descrpn{
    color:  #4B5354;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    padding-bottom: 20px;
}
.main_consult{
    border: 5px solid  #251ADD;
    width: 1080px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_consult--text{
    width: 528px;
    height: 57px;
    left: 92px;
    top: 33px;
}
.main_consult--text-title{
    width: 527px;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.main_consult--text-span{
    width: 528px;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */    
}
.main_consult--buttons{
    display: flex;
    align-items: flex-start;
    gap: 38px;     
}
.main_consult--button{
    border-radius: 60px;
    border: 1px solid  #2c2c2c;
    width: 156px;
    height: 40px;
}
.main_consult--button-title{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 12px */
}
.main_consult--button-tel{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
   text-decoration: none;
}
.main_consult--button-tilt{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
    text-decoration: none;
}
.footer{
    width: 1440px;
    height: 527px;
    flex-shrink: 0;
    background:  #FFF;  
    margin-top: 128px;  
}
.footer_nav{
display: flex;
align-items: center;
}
.footer_nav--logo{
    display: flex;
    width: 160.148px;
    height: 130.607px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;

}
.footer_nav_infos{
    display: flex;
    width: 620px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 100px;
}
.footer_nav_info{
    
}
.footer_nav_info-title{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.footer_nav_info-text{
    text-decoration: none;
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}
.footer_nav_mesagee{
    display: flex;
    width: 160.148px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}
.footer_nav_mesagee--title{
    color:  #2C2C2C;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer_nav_mesagee--images{
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
}
.footer_nav_mesagee--img{
    width: 16px;
    height: 16px;
}
.footer_end{
    width: 1073.994px;
    height: 1.01px;
    flex-shrink: 0;
    border: 1px solid , #514F4F;
    opacity: 0.2;
    background:  #0A142F;
    margin-top: 119px;    
}
.footer_end--text{
    display: flex;
    justify-content: center;
}
.footer_end--span{
    color:  #2C2C2C;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}